<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redmount.template.base.repo.AuditOperationHistoryMapper">
  <resultMap id="BaseResultMap" type="com.redmount.template.base.model.AuditOperationHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk" jdbcType="CHAR" property="pk" />
    <result column="operator_pk" jdbcType="CHAR" property="operatorPk" />
    <result column="operator_real_name" jdbcType="VARCHAR" property="operatorRealName" />
    <result column="operator_user_name" jdbcType="VARCHAR" property="operatorUserName" />
    <result column="operation_function" jdbcType="VARCHAR" property="operationFunction" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="operation_arguments" jdbcType="VARCHAR" property="operationArguments" />
    <result column="operation_result" jdbcType="VARCHAR" property="operationResult" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
    <result column="creator" jdbcType="CHAR" property="creator" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updater" jdbcType="CHAR" property="updater" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
</mapper>