<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redmount.template.base.repo.RUserTRoleMapper">
  <resultMap id="BaseResultMap" type="com.redmount.template.base.model.RUserTRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk" jdbcType="CHAR" property="pk" />
    <result column="user_pk" jdbcType="CHAR" property="userPk" />
    <result column="role_pk" jdbcType="CHAR" property="rolePk" />
    <result column="creator" jdbcType="CHAR" property="creator" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updater" jdbcType="CHAR" property="updater" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
</mapper>