<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redmount.template.base.repo.TestClazzInfoMapper">
  <resultMap id="BaseResultMap" type="com.redmount.template.base.model.TestClazzInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk" jdbcType="CHAR" property="pk" />
    <result column="class_pk" jdbcType="CHAR" property="classPk" />
    <result column="img" jdbcType="LONGVARBINARY" property="img" />
  </resultMap>
</mapper>