<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redmount.template.base.repo.TestClazzMapper">
  <resultMap id="BaseResultMap" type="com.redmount.template.base.model.TestClazz">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk" jdbcType="CHAR" property="pk" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="adviser_pk" jdbcType="CHAR" property="adviserPk" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
</mapper>