<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redmount.template.repo.ClazzModelRepo">
    <select id="getStudentsCountByClassPk" parameterType="String" resultType="Integer">
        select count(pk) from test_student where clazz_pk=#{clazzPk}
    </select>
</mapper>

